<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
    </Console>
  </Appenders>
  <Loggers>
    <Root level="INFO" additivity="false">
      <AppenderRef ref="Console" />
    </Root>
    <Logger name="com.teragrep.rlp_03" level="INFO" additivity="false">
      <AppenderRef ref="Console" />
    </Logger>
  </Loggers>
</Configuration>
